<div class="row">
    <div class="col-md-6">
        <img [src]="this.img"  height ="500" width="500" alt="No Profile">
    </div>
    <div class="col-md-6" *ngIf="details">
        <div class="row">
            <div class="col-md-3">
                <b><label>Id :</label></b>
                {{details.id}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b><label>Name :</label></b>
                {{details.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b><label>Login :</label></b>
                {{details.login}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b><label>Node_Id :</label></b>
                {{details.node_id}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b><label>Followers:</label></b>
                {{details.followers}}
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-3">
                <b><label>Public_Gists:</label></b>
                {{details.public_gists}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b><label>Public_Repos:</label></b>
                {{details.public_repos}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b><label>Following:</label></b>
                {{details.following}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b><label>Created_At:</label></b>
                {{details.created_at}}
            </div>
        </div>
    </div>
</div>